body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;

}
.enter{
    display: grid;
    justify-content: center;
    align-items: center;
    border-style: groove;
    gap: 10px;
    border-radius: 40px;
    height: 40vh;
    width: 20vw;
    padding: 10px;
    background: rgb(247,247,247);
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(45,253,58,1) 100%);
}
.but{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 30px;
}
.butt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.o{
    border-radius: 20px;
    background-color: rgb(103, 205, 145);
}
.t{
    border-radius: 20px;
    height: 30px;
    width: 10vw;
    background-color: rgb(103, 205, 145);
}
input{
    padding-left: 5%;
    border-radius: 25px;
    height: 30px;
}
.a{
    font-weight: bold;
}